<div class="loading-panel-wrapper">
	<div class="loading-panel-overlay"></div>
	<TelerikLoader Size="@ThemeConstants.Loader.Size.Large" Type="@LoaderType.ConvergingSpinner" ThemeColor="@ThemeConstants.Loader.ThemeColor.Tertiary" />
</div>